export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
     * {{{description}}}
     */
    {{/description}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{#isDate}}Date{{/isDate}}{{^isDate}}{{#isDateTime}}Date{{/isDateTime}}{{^isDateTime}}{{{datatype}}}{{/isDateTime}}{{/isDate}}{{/isEnum}};
{{/vars}}
}
{{>modelGenericEnums}}
